* {
    margin: 0;
    padding: 2px;
}

#titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-style: normal;
    color: black;
    margin-left: 7px;
    margin-top: 4%;
}

body, input {
    margin-left: 4px;
    border-radius: 12px;
    font-family: sans-serif;
    font-size: 1em;
    margin-bottom: 1%;
}

textarea {
    margin-left: 2px;
    border-radius: 15.4241px;
    font-family: sans-serif;
    font-size: 1em;
}

.campo {
    margin-bottom: 10px;
}

#placeholder-text {
    font-family: Gilroy;
    font-style: normal;
    color: #969696;
    padding: 10px;
}

input:placeholder-shown {
    border: 2px rgb(64, 142, 243);
}

fieldset.grupo .campo {
    margin-left: 4px;
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo textarea {
    margin-bottom: 2%;
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.grupo {
    position: absolute;
    width: 400px;
    height: 470px;
    left: 740px;
    top: 500px;
    background: #F3F3F3;
    border-radius: 0px 8px 8px 0px;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    padding: 12px 12px;
    background-color: transparent;
    position: relative;
    width: 340px;
    height: 50px;
    border: 1px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    margin-top: 310px;
}

.botao label {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    align-items: flex-end;
    text-align: center;
    color: #1F1F1F;
}

#check {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    color: #969696;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: rgb(159, 180, 211);
}

.campoimg {
    background-image: url(".././img/Image.png");
    position: absolute;
    width: 1330px;
    height: 400px;
    left: 0px;
}

#textoimg {
    margin-left: 106px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-st yle: normal;
    font-weight: bold;
    font-size: 95px;
    line-height: 104px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: white;
}

img {
    position: absolute;
    width: 44px;
    height: 45px;
    left: 30px;
    margin-top: 44px;
}